.theme-dark *{
  color: white;
}
.theme-light{
  color: black;
}

.theme-light .icon-button svg {
  stroke: black;
}

.theme-dark .icon-button svg {
  stroke: white;
}

.icon-button svg {
  transition: stroke 0.3s ease;
}