body, input, textarea, select, button {
  margin: 0;
  font-family: "Aldrich", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Placeholder text */
input::placeholder,
textarea::placeholder {
  font-family: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

/* Code blocks */
code {
  font-family: "Aldrich", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
