.header {
  display: flex;
  align-items: center;
  text-align: center;
}

.icon-button {
  width: 48px;
  height: 48px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo-wrapper {
  position: relative;     
  width:96%;
  height: 100px;  
}

.logo {
  position: absolute;        
  top: 0;
  left: 40%;
  width: 20vw;
  height: 100%;
  transition: opacity 0.3s ease;
  object-fit: contain;    
}

.logo.static {
  z-index: 1;
}

.logo.animated {
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.logo.static:hover ~ .animated {
  opacity: 1;
}

.logo.static:hover {
  opacity: 0;
}
