.settingMainWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding: 5px;
}

.settingsButton {
    width: fit-content;
    text-align: center;
    color: white;
    line-height: 0;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
